<h1><%= @job.title %></h1>
<p>
  <%= link_to "« Retour aux offres", jobs_path %> -
  <%= link_to "Postuler à cette offre", new_job_job_apply_path(@job) %>
</p>
<div class="job_description">
  <h2>Description</h2>
  <%= @job.description %>
</div>
<div class="job_profil">
  <h2>Profile</h2>
  <%= @job.profile %>
</div>
<br/>
<p>
  <%= link_to "« Retour aux offres", jobs_path %> - 
  <%= link_to "Postuler à cette offre", new_job_job_apply_path(@job) %>
</p>