<div class="form_area">
  <%= form.input :job_category %>
  <%= form.input :reference %>
  <%= form.input :title %>
  <%= form.input :description %>
  <%= form.input :profile %>
  <%= form.input :start_published_at %>
  <%= form.input :end_published_at %>
</div>
