<div class="outset">
  <table id="jobs" class="index">
    <thead>
      <tr>
        <th><%= "Job"%></th>
        <th><%= t('lastname') %></th>
        <th><%= t('firstname') %></th>
        <th><%= t('modify') %></th>
      </tr>
    </thead>
    <tbody>
      <% @job_applies.each do |job_apply| %>
        <tr>
          <td><%= job_apply.job.title %></td>
          <td><%= link_to job_apply.lastname, admin_job_job_apply_path(job_apply.job,job_apply) %></td>
          <td><%= job_apply.firstname %></td>
          <td class="remove"><%= link_to t('remove'), admin_job_job_apply_path(job_apply.job,job_apply), :method => :delete, :confirm => "Voulez-vous vriment supprimer cette candidature  ?" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>


<div id="actions">
  <ul>
    <li><%= link_to "New Job", new_admin_job_path %></li>
  </ul>
</div>