<div class="outset">
  <table id="job_categories" class="index">
    <thead>
      <tr>
        <th><%= "Job Category" %></th>
        <th><%= t('modify') %></th>
      </tr>
    </thead>
    <tbody>
      <% @job_categories.each do |job_category| %>
        <tr>
          <td><%= link_to job_category.name, edit_admin_job_category_path(job_category) %></td>
          <td class="remove"><%= link_to t('remove'), admin_job_category_path(job_category), :method => :delete, :confirm => "Voulez-vous vriment supprimer cette catégorie  ?" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>


<div id="actions">
  <ul>
    <li><%= link_to "New Job Category", new_admin_job_category_path %></li>
  </ul>
</div>