<h1>Postuler</h1>
<p>
  <%= link_to "«« Retour aux offres", jobs_path %> -
  <%= link_to "« Retour à l'offre", jobs_path(@job) %>
</p>
<h2>Poste : <%=  @job.title %></h2>
<% semantic_form_for [@job,@job_apply] do |f| %>
  <% f.inputs do   %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :motivation %>
  <% end %>
  <% f.buttons do %>
      <%= f.commit_button %>
  <% end %>
<% end %>
<p>
  <%= link_to "«« Retour aux offres", jobs_path %> -
  <%= link_to "« Retour à l'offre", jobs_path(@job) %>
</p>
